* {
    margin:0;
    font-family: "Roboto", sans-serif;
    -moz-box-sizing: border-box; box-sizing: border-box;
  }
 html {
    font-size: 16px;
    background-color : rgb(243, 243, 243);
  }
body {
    position : relative;
    padding-bottom : 50px;
    height : 100%;
}
header {
    width : 100%;
    min-height : 100px;
    background-color : rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color : rgb(86, 25, 201);
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    margin-left : 5vw;
  
}
header h1::after {
    content : "Map";
    color : rgb(59, 9, 124);
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}
#header-button {
    background-color : rgb(86, 25, 201);
    width : clamp(190px, 15%, 280px);
    height : min(35px, 4vh);
    color :rgb(243, 243, 243);
    font-size: clamp(1.25rem, 1.1vw, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right : 5vw;
    text-decoration: none;
}
.header-band {
    width : 100%;
    min-height : 40px;
    background-color: rgb(86, 25, 201);
    margin-bottom: max(3vh, 30px);
    display : flex;
    align-items: center;
    justify-content: center;
    color :rgb(243, 243, 243);
    font-size: clamp(1.25rem, 1vw, 1.75rem);
}
#infoArea, #mapArea, #searchArea{
    width: 100%;
    min-height: calc(100vh - 100px);
}
.informationsFrame {
    font-size: clamp(1.25rem, 1vw, 1.75rem);
    border : 2px solid rgb(86, 25, 201);
    color : rgb(86, 25, 201);
    width : max(550px, 60vw);
    min-height : 225px;
    margin : auto;
    padding : 1rem;
    margin-bottom: max(3vh, 30px);
    display: grid;
    grid-template-columns: 100px, 100px;
    gap: 10px;
    grid-template-rows: auto;
    background-color:  rgb(243, 243, 243);
}
.global-temp {
    display: flex;
    font-size: clamp(6rem, 4.5vw,12rem);
    grid-column : 1;
    grid-row: 1 / 3;
    margin : auto;
}
.temp-color {
    width : 100px;
    height: 100px;
    border-radius: 50% 50%;
    grid-column : 1;
    grid-row: 3 / 5;
    margin : auto;
    background-color : rgb(83, 139, 204);
}
.localisation {
    display: flex;
    font-size: clamp(3rem, 2.5vw, 6rem);
    grid-column : 2;
    grid-row: 1;
    font-weight: bold;
}
.weather-text {
    display: flex;
    font-size: clamp(1.5rem, 1.25vw, 3rem);
    grid-column : 2;
    grid-row: 2;
    font-style: italic;

}
.feel-temp {
    display: flex;
    font-size: clamp(3rem, 2.5vw, 6rem);
    grid-column : 2;
}
.wind-speed {
    display: flex;
    font-size: clamp(3rem, 2.5vw, 6rem);
    grid-column : 2;
}
#mapid { 
    width : max(550px, 50%);
    min-height : 550px;
    margin : auto;
    position : relative;

}
.mapIsOpen {
    animation : opening 2.5s ease-in-out forwards;
}
@keyframes opening {
    0% 
    {
        position : relative;
    }
    50%
    {
        position : relative;
        margin : auto;
        width : 80%;
    }
    100%
    {
        position : relative;
        margin : auto;
        width: 80%;
    }
}
.mapIsClose {
    animation : closing 2.5s ease-in-out forwards;
}

@keyframes closing {
    0% 
    {

        position : relative;
        margin : auto;
        width: 80%;
    }
    50%
    {
        position : relative;
        margin : auto;
        width : 80%;
    }
    100%
    {
        position : relative;
        width : max(550px, 50%);
    }
}

#searchLocalisation {
    background-color: blue;
}
footer {
    position : absolute;
    color : rgb(86, 25, 201);
    width : 100%;
    height : 50px;
    display : flex;
    margin-top: max(3vh, 30px);
}
footer p {
    margin : auto;
}
